.vs
UploadToServer.Server
GrowersClassified/GrowersClassified.Android/bin
GrowersClassified/GrowersClassified.Android/obj
GrowersClassified/GrowersClassified.iOS/bin
GrowersClassified/GrowersClassified.iOS/obj