<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.GrowersClassified.app" android:installLocation="auto" android:versionName="1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
  <permission android:protectionLevel="signature" android:name="${applicationId}.permission.C2D_MESSAGE" />
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
	<application android:icon="@drawable/grower_classifieds_mobile" android:label="Grower Classifieds"></application>
</manifest>