<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.companyname.GrowersClassified" android:installLocation="auto" android:versionName="1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="27" />
	<application android:label="GrowerClassifieds" android:icon="@drawable/grower_classifieds_mobile"></application>
</manifest>